#!/usr/bin/env -S zsh -li

_OCTOTAIL="${HOME}/src/octotail"

_GH_USER="github-user-here"
_GH_PASS_CMD="zenity --entry --hide-text --title='GitHub' --text='Enter password:'"
_GH_OTP_CMD="zenity --entry --hide-text --title='GitHub' --text='Enter OTP token:'"
_GH_PAT_CMD="zenity --entry --hide-text --title='GitHub' --text='Enter PAT:'"

_WORKFLOW="workflow-name-here"

# add --no-force to prevent overwriting the actual remote refs
git push origin --mirror

while read old_oid new_oid ref_name; do
  echo "old_oid: $old_oid"
  echo "new_oid: $new_oid"
  echo "ref_name: $ref_name"

  if [[ "$ref_name" == "refs/heads/main" ]]; then
    unset GIT_DIR
    export PYTHONUNBUFFERED=1

    export _GH_PASS="$(eval $_GH_PASS_CMD)"
    export _GH_OTP="$(eval $_GH_OTP_CMD)"
    export _GH_PAT="$(eval $_GH_PAT_CMD)"

    "${_OCTOTAIL}/main.py" $new_oid "$_WORKFLOW" --gh-user "$_GH_USER"
  fi
done
