#!/usr/bin/env -S zsh -li

OCTOTAIL_GH_USER="github-user-here"
_GH_PASS_CMD="zenity --entry --hide-text --title='GitHub' --text='Enter password:'"
_GH_OTP_CMD="zenity --entry --hide-text --title='GitHub' --text='Enter OTP token:'"
_GH_PAT_CMD="zenity --entry --hide-text --title='GitHub' --text='Enter PAT:'"

# add --no-force to prevent overwriting the actual remote refs
git push origin --mirror

COMMIT=""; REF_NAME=""; CNT=0
while read old_oid new_oid ref_name; do
  COMMIT="$new_oid"; REF_NAME="$ref_name"; CNT=$(( CNT + 1 ))
done

if [[ $CNT -ge 2 ]]; then
  echo "pushed more than one ref; cannot tail"
  exit 0
fi

echo "commit: $COMMIT"
echo "ref_name: $REF_NAME"

export PYTHONUNBUFFERED=1
export _HEADLESS=1

export OCTOTAIL_GH_PASS="$(eval $_GH_PASS_CMD)"
export OCTOTAIL_GH_OTP="$(eval $_GH_OTP_CMD)"
export OCTOTAIL_GH_PAT="$(eval $_GH_PAT_CMD)"
octotail $COMMIT --ref-name $REF_NAME --gh-user "$_GH_USER"
